<a href="https://colab.research.google.com/github/NileshCT/Model_pickling_Classification_task/blob/main/pickling_On_inference_data_Classification_model_WeatherAUS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import pandas as pd
import numpy as np

In [7]:
df=pd.read_csv("/content/drive/MyDrive/weatherAUS.csv.zip")

In [8]:
df.drop(["Date"],axis=1,inplace=True)

In [9]:
df1=df.copy()

In [11]:
# It looks like you’re working with a Pandas DataFrame and trying to find the indices of rows 
# where the “RainTomorrow” column has missing values.
a=[(i,index) for i,index in enumerate(df1["RainTomorrow"]) if pd.isna(index)]
result = pd.DataFrame(a).set_index(0)

In [12]:
t=pd.DataFrame(a).set_index(0)
t.head()

      1
0
14  NaN
283 NaN
435 NaN
437 NaN
443 NaN

In [ ]:
index_nan=t.index.tolist()
index_nan

In [15]:
df1_inference=df1.iloc[index_nan]
df1_inference

,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
14,Albury,8.4,24.6,0.0,NaN,NaN,NaN,NaN,S,WNW,...,57.0,32.0,1009.7,1008.7,NaN,NaN,15.9,23.5,No,NaN
283,Albury,2.6,NaN,0.0,NaN,NaN,NaN,NaN,E,WNW,...,71.0,55.0,1017.8,1017.6,NaN,6.0,9.7,14.3,No,NaN
435,Albury,22.1,35.1,0.0,NaN,NaN,NaN,NaN,ENE,SW,...,58.0,37.0,1020.9,1017.8,NaN,1.0,26.9,33.5,No,NaN
437,Albury,21.5,35.0,0.0,NaN,NaN,NaN,NaN,SSE,E,...,76.0,35.0,1015.8,1010.3,NaN,8.0,24.2,33.1,No,NaN
443,Albury,15.5,30.6,0.0,NaN,NaN,NaN,NaN,SE,SSW,...,66.0,30.0,1015.9,1013.8,NaN,NaN,19.4,30.0,No,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
144955,Uluru,22.5,37.7,0.0,NaN,NaN,SE,50.0,SE,ESE,...,22.0,11.0,1012.6,1009.6,NaN,NaN,28.8,37.2,No,NaN
145091,Uluru,12.3,19.1,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,79.0,62.0,1016.8,1014.1,8.0,8.0,15.6,18.9,No,NaN
145092,Uluru,14.2,18.7,NaN,NaN,NaN,NaN,NaN,W,NaN,...,81.0,67.0,1015.2,1014.6,8.0,8.0,16.6,17.5,NaN,NaN
145335,Uluru,13.5,NaN,0.0,NaN,NaN,NaN,NaN,ENE,SW,...,23.0,11.0,1013.7,1008.4,NaN,NaN,25.2,34.4,No,NaN
145459,Uluru,14.9,NaN,0.0,NaN,NaN,NaN,NaN,ESE,ESE,...,62.0,36.0,1020.2,1017.9,8.0,8.0,15.0,20.9,No,NaN

In [16]:
X_inference_data=df1_inference.drop(["RainTomorrow"],axis=1)
y_inference_data=df1_inference["RainTomorrow"]

In [17]:
X_inference_data1=X_inference_data.fillna(method="ffill",axis=0)

In [18]:
X_inference_data2=X_inference_data1.fillna(method="bfill",axis=0)

In [20]:
from sklearn import preprocessing
L_encoding=preprocessing.LabelEncoder()
X_inference_data2['Location']=L_encoding.fit_transform(X_inference_data2['Location'])

In [21]:
X_inference_data2['WindGustDir']=L_encoding.fit_transform(X_inference_data2['WindGustDir'])

In [22]:
X_inference_data2['WindDir9am']=L_encoding.fit_transform(X_inference_data2['WindDir9am'])

In [23]:
X_inference_data2['WindDir3pm']=L_encoding.fit_transform(X_inference_data2['WindDir3pm'])

In [24]:
X_inference_data2['RainToday']=L_encoding.fit_transform(X_inference_data2['RainToday'])

In [25]:
X_inference_data2.head()

,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,...,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday
14,2,8.4,24.6,0.0,6.4,0.0,1,28.0,8,14,...,30.0,57.0,32.0,1009.7,1008.7,6.0,6.0,15.9,23.5,0
283,2,2.6,24.6,0.0,6.4,0.0,1,28.0,0,14,...,13.0,71.0,55.0,1017.8,1017.6,6.0,6.0,9.7,14.3,0
435,2,22.1,35.1,0.0,6.4,0.0,1,28.0,1,12,...,11.0,58.0,37.0,1020.9,1017.8,6.0,1.0,26.9,33.5,0
437,2,21.5,35.0,0.0,6.4,0.0,1,28.0,10,0,...,7.0,76.0,35.0,1015.8,1010.3,6.0,8.0,24.2,33.1,0
443,2,15.5,30.6,0.0,6.4,0.0,1,28.0,9,11,...,11.0,66.0,30.0,1015.9,1013.8,6.0,8.0,19.4,30.0,0

In [26]:
# load saved model
import pickle
with open('/content/drive/MyDrive/model_pkl' , 'rb') as f:
    lr = pickle.load(f)

In [28]:
lr.predict(X_inference_data2)

/usr/local/lib/python3.9/dist-packages/sklearn/base.py:432: UserWarning: X has feature names, but LogisticRegression was fitted without feature names
  warnings.warn(

array(['No', 'No', 'No', ..., 'No', 'No', 'No'], dtype=object)