<a href="https://colab.research.google.com/github/NileshCT/Model_pickling_Classification_task/blob/main/Pickling_On_Classification_Modelling_WeatherAUS_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Importing required libraries.

In [128]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split

In [129]:
df=pd.read_csv("/content/drive/MyDrive/weatherAUS.csv.zip")

In [130]:
df.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,71.0,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,No
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,44.0,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,No
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,38.0,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,No
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,45.0,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,No
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,No

In [131]:
df.tail()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
145455,2017-06-21,Uluru,2.8,23.4,0.0,NaN,NaN,E,31.0,SE,...,51.0,24.0,1024.6,1020.3,NaN,NaN,10.1,22.4,No,No
145456,2017-06-22,Uluru,3.6,25.3,0.0,NaN,NaN,NNW,22.0,SE,...,56.0,21.0,1023.5,1019.1,NaN,NaN,10.9,24.5,No,No
145457,2017-06-23,Uluru,5.4,26.9,0.0,NaN,NaN,N,37.0,SE,...,53.0,24.0,1021.0,1016.8,NaN,NaN,12.5,26.1,No,No
145458,2017-06-24,Uluru,7.8,27.0,0.0,NaN,NaN,SE,28.0,SSE,...,51.0,24.0,1019.4,1016.5,3.0,2.0,15.1,26.0,No,No
145459,2017-06-25,Uluru,14.9,NaN,0.0,NaN,NaN,NaN,NaN,ESE,...,62.0,36.0,1020.2,1017.9,8.0,8.0,15.0,20.9,No,NaN

In [132]:
df.shape

(145460, 23)

In [133]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145460 entries, 0 to 145459
Data columns (total 23 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Date           145460 non-null  object
 1   Location       145460 non-null  object
 2   MinTemp        143975 non-null  float64
 3   MaxTemp        144199 non-null  float64
 4   Rainfall       142199 non-null  float64
 5   Evaporation    82670 non-null   float64
 6   Sunshine       75625 non-null   float64
 7   WindGustDir    135134 non-null  object
 8   WindGustSpeed  135197 non-null  float64
 9   WindDir9am     134894 non-null  object
 10  WindDir3pm     141232 non-null  object
 11  WindSpeed9am   143693 non-null  float64
 12  WindSpeed3pm   142398 non-null  float64
 13  Humidity9am    142806 non-null  float64
 14  Humidity3pm    140953 non-null  float64
 15  Pressure9am    130395 non-null  float64
 16  Pressure3pm    130432 non-null  float64
 17  Cloud9am       89572 non-null   float64
 18  Cloud3pm       86102 non-null   float64
 19  Temp9am        143693 non-null  float64
 20  Temp3pm        141851 non-null  float64
 21  RainToday      142199 non-null  object
 22  RainTomorrow   142193 non-null  object
dtypes: float64(16), object(7)
memory usage: 25.5+ MB

In [134]:
df.describe()

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm
count,143975.000000,144199.000000,142199.000000,82670.000000,75625.000000,135197.000000,143693.000000,142398.000000,142806.000000,140953.000000,130395.00000,130432.000000,89572.000000,86102.000000,143693.000000,141851.00000
mean,12.194034,23.221348,2.360918,5.468232,7.611178,40.035230,14.043426,18.662657,68.880831,51.539116,1017.64994,1015.255889,4.447461,4.509930,16.990631,21.68339
std,6.398495,7.119049,8.478060,4.193704,3.785483,13.607062,8.915375,8.809800,19.029164,20.795902,7.10653,7.037414,2.887159,2.720357,6.488753,6.93665
min,-8.500000,-4.800000,0.000000,0.000000,0.000000,6.000000,0.000000,0.000000,0.000000,0.000000,980.50000,977.100000,0.000000,0.000000,-7.200000,-5.40000
25%,7.600000,17.900000,0.000000,2.600000,4.800000,31.000000,7.000000,13.000000,57.000000,37.000000,1012.90000,1010.400000,1.000000,2.000000,12.300000,16.60000
50%,12.000000,22.600000,0.000000,4.800000,8.400000,39.000000,13.000000,19.000000,70.000000,52.000000,1017.60000,1015.200000,5.000000,5.000000,16.700000,21.10000
75%,16.900000,28.200000,0.800000,7.400000,10.600000,48.000000,19.000000,24.000000,83.000000,66.000000,1022.40000,1020.000000,7.000000,7.000000,21.600000,26.40000
max,33.900000,48.100000,371.000000,145.000000,14.500000,135.000000,130.000000,87.000000,100.000000,100.000000,1041.00000,1039.600000,9.000000,9.000000,40.200000,46.70000

In [135]:
df.isnull().sum()

Date                 0
Location             0
MinTemp           1485
MaxTemp           1261
Rainfall          3261
Evaporation      62790
Sunshine         69835
WindGustDir      10326
WindGustSpeed    10263
WindDir9am       10566
WindDir3pm        4228
WindSpeed9am      1767
WindSpeed3pm      3062
Humidity9am       2654
Humidity3pm       4507
Pressure9am      15065
Pressure3pm      15028
Cloud9am         55888
Cloud3pm         59358
Temp9am           1767
Temp3pm           3609
RainToday         3261
RainTomorrow      3267
dtype: int64

Dropping unwanted feature from dataframe.

In [136]:
df.drop(["Date"],axis=1,inplace=True)

In [137]:
df.head()

,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,WNW,...,71.0,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,No
1,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,WSW,...,44.0,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,No
2,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,WSW,...,38.0,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,No
3,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,E,...,45.0,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,No
4,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,NW,...,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,No

In [138]:
df.dtypes

Location          object
MinTemp          float64
MaxTemp          float64
Rainfall         float64
Evaporation      float64
Sunshine         float64
WindGustDir       object
WindGustSpeed    float64
WindDir9am        object
WindDir3pm        object
WindSpeed9am     float64
WindSpeed3pm     float64
Humidity9am      float64
Humidity3pm      float64
Pressure9am      float64
Pressure3pm      float64
Cloud9am         float64
Cloud3pm         float64
Temp9am          float64
Temp3pm          float64
RainToday         object
RainTomorrow      object
dtype: object

Exploring the numeric and categorical feature separatly.

In [139]:
numeric_columns=df.describe().columns
numeric_columns

Index(['MinTemp', 'MaxTemp', 'Rainfall', 'Evaporation', 'Sunshine',
       'WindGustSpeed', 'WindSpeed9am', 'WindSpeed3pm', 'Humidity9am',
       'Humidity3pm', 'Pressure9am', 'Pressure3pm', 'Cloud9am', 'Cloud3pm',
       'Temp9am', 'Temp3pm'],
      dtype='object')

In [140]:
categorical_feature=df.describe(include=object).columns
categorical_feature

Index(['Location', 'WindGustDir', 'WindDir9am', 'WindDir3pm', 'RainToday',
       'RainTomorrow'],
      dtype='object')

In [141]:
df1=df.copy()

separating training and inferencial data.

In [142]:
# It looks like you’re working with a Pandas DataFrame and trying to find the indices of rows 
# where the “RainTomorrow” column has missing values.
a=[(i,index) for i,index in enumerate(df["RainTomorrow"]) if pd.isna(index)]
result = pd.DataFrame(a).set_index(0)

In [143]:
t=pd.DataFrame(a).set_index(0)
t.head()

      1
0
14  NaN
283 NaN
435 NaN
437 NaN
443 NaN

In [144]:
index_nan=t.index.tolist()
index_nan

[14,
 283,
 435,
 437,
 443,
 452,
 455,
 464,
 611,
 983,
 984,
 985,
 986,
 1013,
 1374,
 1529,
 1530,
 1531,
 1685,
 1922,
 2031,
 2032,
 2033,
 2042,
 2913,
 2934,
 2942,
 2943,
 2944,
 3201,
 3211,
 3316,
 3338,
 3339,
 3384,
 3411,
 3412,
 3428,
 3433,
 3438,
 3446,
 3447,
 3452,
 3457,
 3462,
 3471,
 3472,
 3482,
 3517,
 3524,
 3525,
 3526,
 3529,
 3530,
 3532,
 3539,
 3542,
 3549,
 3552,
 3576,
 3584,
 3595,
 3629,
 3634,
 3639,
 3692,
 3760,
 3955,
 4044,
 4050,
 4131,
 4344,
 4345,
 4629,
 4644,
 4656,
 4845,
 4900,
 4911,
 4912,
 4935,
 4938,
 4939,
 5056,
 5079,
 5149,
 5393,
 5458,
 5459,
 5460,
 5461,
 5462,
 5841,
 5842,
 5843,
 5844,
 5845,
 5846,
 5847,
 5848,
 5849,
 5850,
 5851,
 5852,
 5853,
 5854,
 5855,
 5856,
 5857,
 5876,
 6294,
 6968,
 6969,
 6970,
 7446,
 7447,
 8529,
 8530,
 8588,
 8838,
 8839,
 8840,
 8841,
 8842,
 8843,
 8847,
 8848,
 8849,
 8904,
 8905,
 8906,
 9147,
 10238,
 10448,
 10534,
 10816,
 10820,
 10821,
 10822,
 10920,
 10921,
 10922,
 10923,
 10924,
 10925,
 10926,
 11053,
 11133,
 11134,
 11135,
 11136,
 11137,
 11148,
 11149,
 11150,
 11151,
 11159,
 11160,
 11161,
 11162,
 11163,
 11164,
 11165,
 11166,
 11167,
 11168,
 11169,
 11170,
 11171,
 11172,
 11173,
 11174,
 11175,
 11176,
 11177,
 11178,
 11179,
 11180,
 11181,
 11182,
 11183,
 11184,
 11185,
 11186,
 11187,
 11470,
 11491,
 13017,
 13121,
 13147,
 13181,
 13182,
 13183,
 13274,
 13275,
 13365,
 13458,
 13459,
 13460,
 13753,
 13754,
 13755,
 13763,
 13764,
 13765,
 13854,
 13855,
 13862,
 13863,
 13875,
 13876,
 13877,
 13889,
 13896,
 13897,
 13917,
 13918,
 13919,
 13945,
 13946,
 13966,
 13967,
 13973,
 13974,
 13975,
 13980,
 13981,
 14008,
 14009,
 14029,
 14030,
 14031,
 14036,
 14037,
 14039,
 14040,
 14041,
 14078,
 14079,
 14085,
 14086,
 14087,
 14099,
 14100,
 14101,
 14107,
 14127,
 14128,
 14129,
 14134,
 14135,
 14141,
 14142,
 14143,
 14162,
 14163,
 14169,
 14170,
 14171,
 14190,
 14191,
 14211,
 14212,
 14213,
 14218,
 14219,
 14227,
 14239,
 14240,
 14241,
 14246,
 14247,
 14251,
 14252,
 14253,
 14254,
 14255,
 14256,
 14258,
 14259,
 14260,
 14261,
 14262,
 14274,
 14275,
 14276,
 14288,
 14289,
 14290,
 14302,
 14303,
 14304,
 14306,
 14307,
 14308,
 14309,
 14310,
 14311,
 14316,
 14317,
 14324,
 14337,
 14338,
 14345,
 14346,
 14351,
 14352,
 14358,
 14359,
 14360,
 14365,
 14366,
 14372,
 14373,
 14374,
 14400,
 14401,
 14402,
 14472,
 14485,
 14519,
 14520,
 14526,
 14527,
 14528,
 14533,
 14534,
 14547,
 14548,
 14554,
 14555,
 14556,
 14559,
 14561,
 14562,
 14608,
 14609,
 14610,
 14611,
 14612,
 14613,
 14614,
 15766,
 15767,
 15768,
 15769,
 15770,
 15771,
 15908,
 15909,
 15910,
 15911,
 15912,
 16053,
 16054,
 16055,
 16056,
 16057,
 16232,
 16234,
 16239,
 16243,
 16249,
 16250,
 16251,
 16252,
 16253,
 16254,
 16257,
 16361,
 16362,
 16363,
 16364,
 16365,
 16501,
 16583,
 16584,
 16585,
 16586,
 16587,
 16613,
 16614,
 16615,
 16616,
 16617,
 16618,
 16619,
 16931,
 16932,
 16933,
 16934,
 16935,
 16936,
 16937,
 17188,
 17283,
 17284,
 17285,
 17286,
 17318,
 17319,
 17473,
 17507,
 17508,
 17519,
 17625,
 17626,
 17627,
 17628,
 17629,
 17630,
 17631,
 17632,
 17856,
 17913,
 17925,
 17932,
 18029,
 18030,
 18031,
 18032,
 18033,
 18034,
 18035,
 18036,
 18037,
 18275,
 18378,
 18392,
 18393,
 18394,
 18395,
 18410,
 18411,
 18412,
 18413,
 18414,
 18424,
 18425,
 18430,
 18438,
 18459,
 18471,
 18491,
 18496,
 18507,
 18523,
 18528,
 18545,
 18547,
 18608,
 18638,
 18649,
 18664,
 18694,
 18695,
 18698,
 18699,
 18709,
 18710,
 18736,
 18822,
 18823,
 18943,
 18973,
 19030,
 19281,
 19450,
 19676,
 19718,
 19721,
 19722,
 19723,
 19724,
 19846,
 19847,
 19848,
 19849,
 19850,
 19851,
 19852,
 20000,
 20101,
 20329,
 20447,
 20448,
 20449,
 20454,
 20455,
 20456,
 20457,
 20458,
 20459,
 20460,
 20461,
 20462,
 20463,
 20464,
 20469,
 20470,
 20583,
 21936,
 23665,
 23894,
 23895,
 23901,
 23902,
 23915,
 23916,
 23919,
 23929,
 23930,
 23936,
 23937,
 23943,
 23944,
 23945,
 23946,
 23947,
 23948,
 23949,
 23950,
 23951,
 23952,
 23957,
 23958,
 23971,
 23972,
 23978,
 23979,
 23985,
 23986,
 23999,
 24000,
 24006,
 24007,
 24013,
 24014,
 24015,
 24020,
 24021,
 24027,
 24028,
 24034,
 24035,
 24088,
 24137,
 24165,
 24393,
 24485,
 24491,
 24502,
 24518,
 24520,
 24523,
 24533,
 24546,
 24547,
 24550,
 24572,
 24577,
 24580,
 24593,
 24611,
 24620,
 24635,
 24636,
 24667,
 24669,
 24732,
 24733,
 24769,
 24782,
 24787,
 24790,
 24798,
 24799,
 24800,
 24804,
 24805,
 24808,
 24809,
 24872,
 24873,
 24874,
 24875,
 24880,
 24881,
 24882,
 24883,
 24884,
 24889,
 24890,
 24891,
 24892,
 24893,
 24894,
 24975,
 25114,
 25127,
 25297,
 25462,
 25748,
 26013,
 26153,
 26199,
 26372,
 26668,
 26669,
 26670,
 26772,
 26810,
 26815,
 26824,
 26939,
 26972,
 27030,
 27050,
 27051,
 27064,
 27141,
 27511,
 27529,
 27555,
 27577,
 27581,
 27583,
 27587,
 27602,
 27621,
 27622,
 27626,
 27649,
 27668,
 27669,
 27705,
 27719,
 27739,
 27746,
 27755,
 27757,
 27767,
 27773,
 27774,
 27776,
 27784,
 27881,
 27884,
 28290,
 28301,
 28304,
 28306,
 28307,
 28309,
 28311,
 28313,
 28314,
 28315,
 28316,
 28320,
 28324,
 28775,
 28777,
 28810,
 28811,
 28857,
 28858,
 28859,
 28860,
 28861,
 28863,
 28921,
 28977,
 28978,
 29058,
 29109,
 29677,
 29702,
 30066,
 31044,
 31157,
 31191,
 32506,
 32551,
 32578,
 32579,
 35936,
 36425,
 36429,
 36433,
 39122,
 39311,
 39312,
 39318,
 39319,
 39346,
 39347,
 39358,
 39359,
 39360,
 39361,
 39374,
 39375,
 39379,
 39381,
 39382,
 39394,
 39395,
 39402,
 39403,
 39409,
 39410,
 39424,
 39430,
 39431,
 39458,
 39473,
 39479,
 39480,
 39500,
 39501,
 39507,
 39508,
 39690,
 39972,
 40049,
 40084,
 40085,
 40086,
 40091,
 40092,
 40106,
 40114,
 40127,
 40128,
 40178,
 40187,
 40267,
 40268,
 40308,
 40309,
 40362,
 40363,
 40364,
 40376,
 40377,
 40378,
 40380,
 40381,
 40383,
 40384,
 40390,
 40391,
 40392,
 40397,
 40398,
 40404,
 40405,
 40406,
 40411,
 40412,
 40418,
 40419,
 40420,
 40432,
 40433,
 40434,
 40436,
 40439,
 40440,
 40453,
 40454,
 40457,
 40458,
 40459,
 40460,
 40461,
 40462,
 40465,
 40467,
 40468,
 40480,
 40481,
 40482,
 40488,
 40489,
 40490,
 40502,
 40503,
 40504,
 40510,
 40516,
 40517,
 40518,
 40544,
 40545,
 40546,
 40558,
 40559,
 40560,
 40565,
 40566,
 40572,
 40573,
 40574,
 40575,
 40593,
 40594,
 40600,
 40602,
 40607,
 40608,
 40614,
 40615,
 40616,
 40621,
 40622,
 40628,
 40629,
 40630,
 40635,
 40636,
 40642,
 40643,
 40644,
 40652,
 40656,
 40657,
 40658,
 40659,
 40663,
 40664,
 40668,
 40669,
 40670,
 40671,
 40672,
 40678,
 40698,
 40699,
 40700,
 40705,
 40706,
 40712,
 40713,
 40714,
 40719,
 40720,
 40723,
 40726,
 40727,
 40728,
 40740,
 40741,
 40742,
 40747,
 40748,
 40750,
 40751,
 40752,
 40754,
 40755,
 40756,
 40761,
 40762,
 40768,
 40769,
 40770,
 40789,
 40790,
 40796,
 40797,
 40798,
 40803,
 40804,
 40880,
 40881,
 40882,
 40887,
 40888,
 40894,
 40895,
 40896,
 40947,
 40948,
 40949,
 40954,
 40955,
 40957,
 40961,
 40962,
 40963,
 40968,
 40969,
 40983,
 40989,
 40990,
 40991,
 40996,
 40997,
 41003,
 41004,
 41005,
 41010,
 41011,
 41017,
 41018,
 41019,
 41031,
 41032,
 41033,
 41034,
 41038,
 41039,
 41052,
 41053,
 41060,
 41061,
 41066,
 41067,
 41073,
 41074,
 41075,
 41080,
 41081,
 41087,
 41088,
 41095,
 41096,
 41101,
 41102,
 41103,
 41108,
 41109,
 41115,
 41116,
 41117,
 41122,
 41123,
 41129,
 41130,
 41131,
 41164,
 41165,
 41167,
 41168,
 41169,
 41170,
 41171,
 41172,
 41173,
 41185,
 41186,
 41187,
 41220,
 41221,
 41223,
 41227,
 41228,
 41229,
 41234,
 41235,
 41241,
 41248,
 41249,
 41298,
 41309,
 41310,
 41311,
 41312,
 41313,
 41314,
 41315,
 41316,
 41317,
 41318,
 41319,
 41320,
 41321,
 41333,
 41338,
 41339,
 41340,
 41341,
 41353,
 41354,
 41355,
 41360,
 41361,
 41367,
 41368,
 41369,
 41374,
 41375,
 41388,
 41389,
 41395,
 41396,
 41397,
 41402,
 ...]

In [145]:
df1_inference=df1.iloc[index_nan]
df1_inference

,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
14,Albury,8.4,24.6,0.0,NaN,NaN,NaN,NaN,S,WNW,...,57.0,32.0,1009.7,1008.7,NaN,NaN,15.9,23.5,No,NaN
283,Albury,2.6,NaN,0.0,NaN,NaN,NaN,NaN,E,WNW,...,71.0,55.0,1017.8,1017.6,NaN,6.0,9.7,14.3,No,NaN
435,Albury,22.1,35.1,0.0,NaN,NaN,NaN,NaN,ENE,SW,...,58.0,37.0,1020.9,1017.8,NaN,1.0,26.9,33.5,No,NaN
437,Albury,21.5,35.0,0.0,NaN,NaN,NaN,NaN,SSE,E,...,76.0,35.0,1015.8,1010.3,NaN,8.0,24.2,33.1,No,NaN
443,Albury,15.5,30.6,0.0,NaN,NaN,NaN,NaN,SE,SSW,...,66.0,30.0,1015.9,1013.8,NaN,NaN,19.4,30.0,No,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
144955,Uluru,22.5,37.7,0.0,NaN,NaN,SE,50.0,SE,ESE,...,22.0,11.0,1012.6,1009.6,NaN,NaN,28.8,37.2,No,NaN
145091,Uluru,12.3,19.1,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,79.0,62.0,1016.8,1014.1,8.0,8.0,15.6,18.9,No,NaN
145092,Uluru,14.2,18.7,NaN,NaN,NaN,NaN,NaN,W,NaN,...,81.0,67.0,1015.2,1014.6,8.0,8.0,16.6,17.5,NaN,NaN
145335,Uluru,13.5,NaN,0.0,NaN,NaN,NaN,NaN,ENE,SW,...,23.0,11.0,1013.7,1008.4,NaN,NaN,25.2,34.4,No,NaN
145459,Uluru,14.9,NaN,0.0,NaN,NaN,NaN,NaN,ESE,ESE,...,62.0,36.0,1020.2,1017.9,8.0,8.0,15.0,20.9,No,NaN

In [146]:
t.shape

(3267, 1)

In [147]:
#Creating list of all non null values in the target variable for spliting in train and test data.
a=[]
for i in range(df1.shape[0]):
  if i not in index_nan:
    a.append(i)

In [148]:
df1_training_data=df1.iloc[a]
df1_training_data

,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,WNW,...,71.0,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,No
1,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,WSW,...,44.0,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,No
2,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,WSW,...,38.0,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,No
3,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,E,...,45.0,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,No
4,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,NW,...,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145454,Uluru,3.5,21.8,0.0,NaN,NaN,E,31.0,ESE,E,...,59.0,27.0,1024.7,1021.2,NaN,NaN,9.4,20.9,No,No
145455,Uluru,2.8,23.4,0.0,NaN,NaN,E,31.0,SE,ENE,...,51.0,24.0,1024.6,1020.3,NaN,NaN,10.1,22.4,No,No
145456,Uluru,3.6,25.3,0.0,NaN,NaN,NNW,22.0,SE,N,...,56.0,21.0,1023.5,1019.1,NaN,NaN,10.9,24.5,No,No
145457,Uluru,5.4,26.9,0.0,NaN,NaN,N,37.0,SE,WNW,...,53.0,24.0,1021.0,1016.8,NaN,NaN,12.5,26.1,No,No
145458,Uluru,7.8,27.0,0.0,NaN,NaN,SE,28.0,SSE,N,...,51.0,24.0,1019.4,1016.5,3.0,2.0,15.1,26.0,No,No

Spliting training data into two different dependant and independant feature.

In [149]:
X_training_data=df1_training_data.drop("RainTomorrow",axis=1)
y_training_data=df1_training_data["RainTomorrow"]

In [150]:
X_training_data=X_training_data.fillna(method="ffill",axis=0)
X_training_data=X_training_data.fillna(method="bfill",axis=0)

Converting the categorical records into numeric feature.

In [151]:
from sklearn import preprocessing
L_encoding=preprocessing.LabelEncoder()
X_training_data["Location"]=L_encoding.fit_transform(X_training_data["Location"])

In [152]:
X_training_data["WindGustDir"]=L_encoding.fit_transform(X_training_data["WindGustDir"])

In [153]:
X_training_data["WindDir9am"]=L_encoding.fit_transform(X_training_data["WindDir9am"])

In [154]:
X_training_data["WindDir3pm"]=L_encoding.fit_transform(X_training_data["WindDir3pm"])

In [155]:
X_training_data["RainToday"]=L_encoding.fit_transform(X_training_data["RainToday"])

In [156]:
X_training_data.head()

,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,...,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday
0,2,13.4,22.9,0.6,12.0,12.3,13,44.0,13,14,...,24.0,71.0,22.0,1007.7,1007.1,8.0,2.0,16.9,21.8,0
1,2,7.4,25.1,0.0,12.0,12.3,14,44.0,6,15,...,22.0,44.0,25.0,1010.6,1007.8,8.0,2.0,17.2,24.3,0
2,2,12.9,25.7,0.0,12.0,12.3,15,46.0,13,15,...,26.0,38.0,30.0,1007.6,1008.7,8.0,2.0,21.0,23.2,0
3,2,9.2,28.0,0.0,12.0,12.3,4,24.0,9,0,...,9.0,45.0,16.0,1017.6,1012.8,8.0,2.0,18.1,26.5,0
4,2,17.5,32.3,1.0,12.0,12.3,13,41.0,1,7,...,20.0,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,0

Scaling the training data using standardscaler.

In [157]:
from sklearn.preprocessing import StandardScaler
scalar=StandardScaler()
x_training1=scalar.fit_transform(X_training_data)

In [158]:
x_training2=pd.DataFrame(x_training1)

In [159]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(x_training2,y_training_data,test_size=0.20,random_state=0)

Using LogisticRegression algorithm.

In [160]:
from sklearn.linear_model import LogisticRegression
logreg=LogisticRegression(solver='liblinear', random_state=0)
logreg.fit(X_train,y_train)

LogisticRegression(random_state=0, solver='liblinear')

Predicting X_train and X_test values.

In [161]:
y_pred_train_training2=logreg.predict(X_train)
y_pred_train_training2

array(['No', 'No', 'No', ..., 'No', 'No', 'No'], dtype=object)

In [162]:
from sklearn.metrics import accuracy_score
accuracy_score(y_train,y_pred_train_training2)

0.8413154702252228

In [163]:
y_pred_test_training2=logreg.predict(X_test)

In [164]:
accuracy_score(y_test,y_pred_test_training2)

0.8427511515876086

In [165]:
logreg.predict_proba(X_train)[:,0]

array([0.80366615, 0.66634579, 0.99640935, ..., 0.90948562, 0.99237111,
       0.61381711])

In [166]:
logreg.predict_proba(X_train)[:,1]

array([0.19633385, 0.33365421, 0.00359065, ..., 0.09051438, 0.00762889,
       0.38618289])

In [167]:
#Saving Model
# loading library
import pickle
# create an iterator object with write permission - model.pkl
with open('model_pkl', 'wb') as files:
    pickle.dump(logreg, files)

In [168]:
df1_inference=df1.iloc[index_nan]
df1_inference

,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
14,Albury,8.4,24.6,0.0,NaN,NaN,NaN,NaN,S,WNW,...,57.0,32.0,1009.7,1008.7,NaN,NaN,15.9,23.5,No,NaN
283,Albury,2.6,NaN,0.0,NaN,NaN,NaN,NaN,E,WNW,...,71.0,55.0,1017.8,1017.6,NaN,6.0,9.7,14.3,No,NaN
435,Albury,22.1,35.1,0.0,NaN,NaN,NaN,NaN,ENE,SW,...,58.0,37.0,1020.9,1017.8,NaN,1.0,26.9,33.5,No,NaN
437,Albury,21.5,35.0,0.0,NaN,NaN,NaN,NaN,SSE,E,...,76.0,35.0,1015.8,1010.3,NaN,8.0,24.2,33.1,No,NaN
443,Albury,15.5,30.6,0.0,NaN,NaN,NaN,NaN,SE,SSW,...,66.0,30.0,1015.9,1013.8,NaN,NaN,19.4,30.0,No,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
144955,Uluru,22.5,37.7,0.0,NaN,NaN,SE,50.0,SE,ESE,...,22.0,11.0,1012.6,1009.6,NaN,NaN,28.8,37.2,No,NaN
145091,Uluru,12.3,19.1,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,79.0,62.0,1016.8,1014.1,8.0,8.0,15.6,18.9,No,NaN
145092,Uluru,14.2,18.7,NaN,NaN,NaN,NaN,NaN,W,NaN,...,81.0,67.0,1015.2,1014.6,8.0,8.0,16.6,17.5,NaN,NaN
145335,Uluru,13.5,NaN,0.0,NaN,NaN,NaN,NaN,ENE,SW,...,23.0,11.0,1013.7,1008.4,NaN,NaN,25.2,34.4,No,NaN
145459,Uluru,14.9,NaN,0.0,NaN,NaN,NaN,NaN,ESE,ESE,...,62.0,36.0,1020.2,1017.9,8.0,8.0,15.0,20.9,No,NaN

In [169]:
X_inference_data=df1_inference.drop(["RainTomorrow"],axis=1)
y_inference_data=df1_inference["RainTomorrow"]

In [170]:
X_inference_data1=X_inference_data.fillna(method="ffill",axis=0)

In [171]:
X_inference_data2=X_inference_data1.fillna(method="bfill",axis=0)

In [172]:
from sklearn import preprocessing
L_encoding=preprocessing.LabelEncoder()
X_inference_data2['Location']=L_encoding.fit_transform(X_inference_data2['Location'])

In [173]:
X_inference_data2['WindGustDir']=L_encoding.fit_transform(X_inference_data2['WindGustDir'])

In [174]:
X_inference_data2['WindDir9am']=L_encoding.fit_transform(X_inference_data2['WindDir9am'])

In [175]:
X_inference_data2['WindDir3pm']=L_encoding.fit_transform(X_inference_data2['WindDir3pm'])

In [176]:
X_inference_data2['RainToday']=L_encoding.fit_transform(X_inference_data2['RainToday'])

In [177]:
X_inference_data2.head()

,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,...,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday
14,2,8.4,24.6,0.0,6.4,0.0,1,28.0,8,14,...,30.0,57.0,32.0,1009.7,1008.7,6.0,6.0,15.9,23.5,0
283,2,2.6,24.6,0.0,6.4,0.0,1,28.0,0,14,...,13.0,71.0,55.0,1017.8,1017.6,6.0,6.0,9.7,14.3,0
435,2,22.1,35.1,0.0,6.4,0.0,1,28.0,1,12,...,11.0,58.0,37.0,1020.9,1017.8,6.0,1.0,26.9,33.5,0
437,2,21.5,35.0,0.0,6.4,0.0,1,28.0,10,0,...,7.0,76.0,35.0,1015.8,1010.3,6.0,8.0,24.2,33.1,0
443,2,15.5,30.6,0.0,6.4,0.0,1,28.0,9,11,...,11.0,66.0,30.0,1015.9,1013.8,6.0,8.0,19.4,30.0,0